Source: gtetrinet
Section: games
Priority: optional
Maintainer: Ka-shu Wong <kswong@zip.com.au>
Standards-Version: 2.4.1.0

Package: gtetrinet
Architecture: any
Depends: ${shlibs:Depends}
Description: Multiplayer tetris game
 GTetrinet is a clone of the popular Tetrinet game for Windows.
 It is designed to be both network compatible and identical in
 gameplay to the original Tetrinet.
